<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="client_id">ID do Cliente:</label>
        <input type="text" id="client_id" name="client_id" required>
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
